footer > h1 {
    text-align: center;
    margin: 80px auto 40px auto;
}

footer > section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    justify-items: center;
    justify-content: center;
    gap: 60px;
    max-width: 900px;
    margin: 0 auto 200px;
}

footer > section > div.contact_area {
     width: min(200px, 40vw);
}

footer > section > div.contact_area > a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    color: inherit;

    transition: 0.3s;
}

footer > section > div.contact_area > a:hover {
    transform: scale(1.2);
}

footer > section > div.contact_area > a > div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    background-color: var(--background_secundário_cards);
    border-radius: 50%;
}

footer > section > div.contact_area > a > div >img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

footer > section > div.contact_area > a > h2 {
    color: var(--texto_principal);
    cursor: pointer;
    font-size: 0.9em;
}

footer > section > div.contact_area > a > p {
    color: var(--texto_secundario);
    cursor: pointer;
    font-size: 0.8em;
}