@charset "UTF-8";

/*
Background principal (azul escuro quase preto):  #0B0F1A
Background secundário (cards): #141A2A
Primária (azul escuro tecnológico): #1E2A5A
Secundária (roxo elegante): #6D5DFB
Acento (roxo vibrante): #8F7CFF

Neutros

Texto principal
#EAEAF0

Texto secundário
#B3B6C5

Bordas/divisórias
#2A3150

*/


/* ===== TEMA PADRÃO (ESCURO) ===== */
:root {
    --bg_principal: #0B0F1A;
    --background_secundário_cards: #EAEAF0;
    --primária_azul_escuro_tecnológico: #1E2A5A;
    --secundária_roxo_elegante: #6D5DFB;
    --acento_roxo_vibrante: #8F7CFF;
    --texto_principal: #EAEAF0;
    --texto_secundario: #B3B6C5;
    --roxo_luminoso: #C609FA;
}


/* ===== TEMA CLARO ===== */
html[data-theme="light"] {
  --bg_principal: #f9fafb;
  --bg_secundario: #ffffff;
  --background_secundário_cards: #EAEAF0;

  --texto_principal: #0f1220;
  --texto_secundario: #4b5563;

  --primaria_azul_escuro_tecnologico: #2563eb;
  --secundaria_roxo_elegante: #6d28d9;

  --borda_sutil: rgba(0, 0, 0, 0.08);
}



html {
    scroll-behavior: smooth;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  var(--bg_principal, black);
    color: var(--texto_principal);
    font-family: "inter", sans-serif;
    transition:  background-color 0.6s ease,
    color 0.6s ease;
}