header {
  width: 100%;
  position: sticky;
  background-color: var(--bg_principal);
  top: 0;
  z-index: 1300;
  transition:  background-color 0.6s ease,
  color 0.6s ease;
}

#header_inner {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin-right: auto;
    margin-left: auto;
    width: 90%;
}

/* menu fechado */
.menu_principal {
  position: fixed;
  inset: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 0px;
  padding-top: 150px;

  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  padding-bottom: 80px;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transform: scale(0.95);
  transition: opacity 0.3s ease, transform 0.3s ease;

  z-index: 1100;
}

/* menu aberto */
header.menu-open .menu_principal {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: scale(1);
}

#hamburguer {
  display: inline-block;
  white-space: nowrap;
  direction: ltr;

  cursor: pointer;
  font-size: 32px;
  user-select: none;
  border-radius: 50%;
  z-index: 1300;
}


#hamburguer:hover {
  background-color: var(--secundária_roxo_elegante);
  transition: 0.2s;
}

.no-scroll {
  overflow: hidden;
}

.menu_principal > h3 {
  text-align: center;
  font-size: 2em;
  color: var(--acento_roxo_vibrante);
}

.menu_principal > a {
  text-decoration: none;
  color: var(--texto_principal);
  font-size: 2em;
  transition: 0.3s;
}

.menu_principal > a:hover {
  transform: scale(1.3);
  color: var(--acento_roxo_vibrante);
}


#header_inner > h1 {
  z-index: 1300;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
}

.toggle {
  z-index: 1300;
  position: relative;
  display: inline-block;
  width: min(58px, 8vw);
  height: 28px;
  cursor: pointer;
  margin-right: 5px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Fundo */
.slider {
  position: absolute;
  inset: 0;
  background: var(--texto_principal);
  border-radius: 999px;
  transition: 0.6s;
}

/* Bolinha */
.slider::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  top: 3px;
  background: var(--primária_azul_escuro_tecnológico);
  border-radius: 50%;
  transition: 0.6s;
}

/* ON */
.toggle input:checked + .slider {
  background: var(--secundária_roxo_elegante);
}

.toggle input:checked + .slider::before {
  transform: translateX(31px);
}

/* Focus (acessibilidade) */
.toggle input:focus-visible + .slider {
  outline: 2px solid var(--primária_azul_escuro_tecnológico);
  outline-offset: 2px;
}

/*VERSÃO MOBILE*/
@media (max-width: 768px) {
  .toggle {
    width: 42px;
    height: 22px;
    margin-right: 3px;
  }

  /* Fundo */
  .slider {
    border-radius: 999px;
  }

  /* Bolinha */
  .slider::before {
    width: 16px;
    height: 16px;
    left: 3px;
    top: 3px;
  }

  /* ON */
  .toggle input:checked + .slider::before {
    transform: translateX(20px);
  }
}

header::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1em;
  background-color: var(--primária_azul_escuro_tecnológico);

}

div#button_flag {
  z-index: 1300;
  display: flex;
  justify-content: right;
  align-items: center;

  width: 150px;
}

div#button_flag > img {
  width: min(50px, 9vw);
  height: 32px;
  cursor: pointer;

  object-fit: cover;
  border-radius: 999px;
  background: #000;
}

#menu_flag {
  position: absolute;
  top: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 0.3s ease;

  background: var(--texto_principal);
  padding: 10px;
  border-radius: 10px;
  z-index: 1001;
}

#menu_flag.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

#menu_flag img {
  width: 40px;
  cursor: pointer;
}
