header {

    display: flex;
    justify-content: space-between;

    
    margin: 20px 80px 0px 80px;
}

header > .material-symbols-outlined {
    font-size: 35px;
    cursor: pointer;
}

header > .material-symbols-outlined:hover {
    background-color: var(--roxo_luminoso);
    border-top-right-radius: 20px;
    border-top: le;
}

header > h1 {
    text-align: center;
}

div#button_flag {
    display: flex;
    justify-content: right;
}

div#button_flag > img {
    width: 80px;
    cursor: pointer;
    border-radius: 25px;
}

div#line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--roxo_luminoso);

}