header {

    display: flex;
    justify-content: space-between;
    align-items: center;

    
    height: 10vh;
    width: 90vw;
    margin: auto;
}


header > .material-symbols-outlined {
    font-size: 35px;
    cursor: pointer;
    border-radius: 50%;
}

header > .material-symbols-outlined:hover {
    background-color: var(--roxo_luminoso);
    transition: 0.2s;
}

header > h1 {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
  cursor: pointer;
  margin-right: 20px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* Fundo */
.slider {
  position: absolute;
  inset: 0;
  background: var(--texto_principal);
  border-radius: 999px;
  transition: 0.6s;
}

/* Bolinha */
.slider::before {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  left: 3px;
  top: 3px;
  background: white;
  border-radius: 50%;
  transition: 0.6s;
}

/* ON */
.toggle input:checked + .slider {
  background: var(--prim치ria_azul_escuro_tecnol칩gico);
}

.toggle input:checked + .slider::before {
  transform: translateX(31px);
}

/* Focus (acessibilidade) */
.toggle input:focus-visible + .slider {
  outline: 2px solid var(--prim치ria_azul_escuro_tecnol칩gico);
  outline-offset: 2px;
}


div#button_flag {
    display: flex;
    justify-content: right;
    align-items: center;

    width: 20vw;
}

div#button_flag > img {
    width: 50px;
    cursor: pointer;
    border-radius: 25px;
}

div#line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: var(--roxo_luminoso);

}