main {
    display: flex;
    justify-content: space-around;
    margin: 60px 0px 0px 0px;
}

div#hello {
    margin-top: 80px;
}

div#hello > h1 > span {
    color: var(--acento_roxo_vibrante);
}

div#hello > h1 {
    font-size: 3em;
    color: var(--texto_principal);
    width: 400px;
}

div#hello > h2 {
    font-size: 2em;
}



div#photo {
  width: 450px;
  height: 450px;

  padding: 5px;
  border-radius: 50%;

  background: linear-gradient(135deg, #1E2A5A, #6D5DFB, #8F7CFF);
}

div#photo > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}