@charset "UTF-8";

/*
Background principal (azul escuro quase preto):  #0B0F1A
Background secundário (cards): #141A2A
Primária (azul escuro tecnológico): #1E2A5A
Secundária (roxo elegante): #6D5DFB
Acento (roxo vibrante): #8F7CFF

Neutros

Texto principal
#EAEAF0

Texto secundário
#B3B6C5

Bordas/divisórias
#2A3150

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    background-color:  #0B0F1A;
    color: aliceblue;
}

