main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    width: min(1200px, 90%);
    margin: 60px auto 0px auto;
}

div#hello {
    margin-top: 80px;
    max-width: 420px;
    width: 100%;
}

div#hello > h1 > span.name {
    color: var(--secundária_roxo_elegante);
    font-size: clamp(1.3rem, 5vw, 3rem);
    margin-bottom: 0;
}

div#hello > h1 > span {
    color: var(--texto_principal);
    font-size: clamp(1.3rem, 5vw, 3rem);
    width: auto;
}

div#hello > h2 {
    font-size: clamp(0.9rem, 3vw, 1.5rem);
    color: var(--texto_secundario);
}

div#contact_buttons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    max-width: 320px;
    
}

div#contact_buttons > div#cv {
    display: flex;
    justify-content: center;
    align-items: center;

    width: min(120px, 90%);
    height: 40px;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--acento_roxo_vibrante), var(--roxo_luminoso));
    color: var(--texto_principal);
    margin-top: 20px;
    border-radius: 50px;
    transition: 0.4s;
}

div#contact_buttons > div#cv:hover {
     transform: translateY(2px);
     box-shadow: 0 4px 0 var(--primária_azul_escuro_tecnológico);
}

div#contact_buttons > div#cv > a {
    text-decoration: none;
    color: var(--texto_principal);
    font-size: clamp(0.7rem, 2vw, 1rem);
}

div#contact_buttons > div#contact_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: min(160px, 90%);
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--roxo_luminoso);
    color: var(--texto_principal);
    margin-top: 20px;
    border-radius: 50px;
    transition: 0.4s;
}

div#contact_buttons > div#contact_button > a {
    font-size: clamp(0.5rem, 2vw, 1rem);
    text-decoration: none;
    color: var(--texto_principal);
}

div#contact_buttons > div#contact_button:hover {
     transform: translateY(2px);
     box-shadow: 0 4px 0 var(--primária_azul_escuro_tecnológico);
     background-image: linear-gradient(to right, var(--acento_roxo_vibrante), var(--roxo_luminoso));
}

div#photo {
    position: relative;
    width: min(450px, 80vw);
    aspect-ratio: 1 / 1;
    transition: 0.3s;
}

div#photo::before {
    content: "";
    position: absolute;
    inset: -5px;
    border-radius: 50%;
    background: linear-gradient(135deg,
    var(--roxo_luminoso),
    var(--acento_roxo_vibrante),
    var(--secundária_roxo_elegante)
    );
    
    z-index: -1;
}

div#photo img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

div#photo:hover {
    transform: scale(0.95);
}

article {
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: column;
    text-align: center;
}

article > h1 {
    font-size: 2em;
    margin: 80px 0px 20px 0px;
}

article > p {
    font-size: 1.1em;
    line-height: 180%;
    width: 800px;
    margin: auto;
}

@media (max-width: 950px) {
  article > p {
    text-align: center;
    max-width: 80%;
    margin: auto;
    font-size: 0.9rem;
  }
}