main {
    display: flex;
    justify-content: space-around;
    margin: 60px 0px 0px 0px;
}

div#hello {
    margin-top: 80px;
    width: 30vw;
}

div#hello > h1 > span {
    color: var(--acento_roxo_vibrante);
}

div#hello > h1 {
    font-size: 3em;
    color: var(--texto_principal);
    width: 380px;
}

div#hello > h2 {
    font-size: 1.5em;
    color: var(--texto_secundario);
}

div#contact_buttons {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    width: 22vw;
    
}

div#contact_buttons > div#cv {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 120px;
    height: 40px;
    cursor: pointer;
    background-image: linear-gradient(to right, var(--acento_roxo_vibrante), var(--roxo_luminoso));
    color: var(--texto_principal);
    margin-top: 20px;
    border-radius: 50px;
    transition: 0.4s;
}

div#contact_buttons > div#cv:hover {
     transform: translateY(2px);
     box-shadow: 0 4px 0 var(--prim치ria_azul_escuro_tecnol칩gico);
}

div#contact_buttons > div#cv > a {
    text-decoration: none;
    color: var(--texto_principal);
}

div#contact_buttons > div#contact_button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 40px;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--roxo_luminoso);
    color: var(--texto_principal);
    margin-top: 20px;
    border-radius: 50px;
    transition: 0.4s;
}

div#contact_buttons > div#contact_button:hover {
     transform: translateY(2px);
     box-shadow: 0 4px 0 var(--prim치ria_azul_escuro_tecnol칩gico);
     background-image: linear-gradient(to right, var(--acento_roxo_vibrante), var(--roxo_luminoso));
}

div#photo {
  width: 450px;
  height: 450px;

  padding: 5px;
  border-radius: 50%;

  background: linear-gradient(135deg, #1E2A5A, #6D5DFB, #8F7CFF);
}

div#photo > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}


article > h1 {
    text-align: center;
    font-size: 2em;
    margin: 80px 0px 20px 0px;
}

article > p {
    text-align: center;
    font-size: 1.1em;
    line-height: 180%;
    width: 800px;
    margin: auto;
}