section#skills {
    width: 90%;
    margin: auto;
    margin-top: 80px;
}

section#skills > h1 {
    text-align: center;
    margin-bottom: 40px;
}

div#skills_area {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
}

div.skill {
    display: flex;
    flex-direction: column;

    align-content: center;
    align-items: center;
    justify-content: space-around;
    justify-items: flex-start;

    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 2;

    height: 180px;
    width: 120px;
    margin-top: 20px;

    border: 2px solid var(--prim치ria_azul_escuro_tecnol칩gico);
    border-radius: 2px 2px 50px 50px;
    cursor: pointer;
    transition: all 0.3s ease;

    background: linear-gradient(
    180deg,
    var(--prim치ria_azul_escuro_tecnol칩gico),
    var(--roxo_luminoso)
  );
}

div.skill:hover {
    transform: scale(1.1);
}

div.skill > div.skill_line {
    width: 110px;
    height: 1px;
    background-color: var(--roxo_luminoso);
}


div.skill > p {
    text-align: center;
    color: var(--texto_secundario);
}

div.skill > img {
    width: 70px;
    height: 70px;
}