section#skills {
    width: 80vw;
    margin: auto;
    margin-top: 80px;
}

section#skills > h1 {
    text-align: center;
    margin-bottom: 40px;
}

div#skills_area {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

div#skill {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 20% 70%;
    align-items: center;
    justify-items: center;
    width: 8vw;
    height: 22vh;
    border: 2px solid var(--acento_roxo_vibrante);
    border-radius: 2px 2px 50px 50px;
    cursor: pointer;
}

div#skill:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

div#skill > div.skill_line {
    width: 110px;
    height: 1px;
    background-color: var(--roxo_luminoso);
}


div#skill > p {
    text-align: center;
    color: var(--acento_roxo_vibrante);
}

div#skill > img {
    width: 80px;
    height: 80px;
}